Repository work-furukawa/actions_test, changes with the labels that .github/labeler.yml gives for each.
All labels: sample, sample_A, sample_B

modify activity type
  .github/workflows/labeler.yml
Labels: none

labeler test3
  sample/B/test-b.txt
Labels: sample, sample_B

labeler test5
  sample/C/test-c.txt
Labels: sample

labeler test4
  sample/A/test-a.txt
Labels: sample, sample_A

labeler test
  sample/test.txt
Labels: sample

labeler test2
  sample/A/test-a.txt
Labels: sample, sample_A

label sample
  sample/test.txt
Labels: sample

label sampleA
  sample/A/test-a.txt
Labels: sample, sample_A

label sampleB
  sample/B/test-b.txt
Labels: sample, sample_B

no label
  test.txt
Labels: none

add file
  sample.txt
Labels: none

add sample/text.txt
  sample/test.txt
Labels: sample

add sample/A/test-a.txt
  sample/A/test-a.txt
Labels: sample, sample_A

add sample/B/test-b.txt
  sample/B/test-b.txt
Labels: sample, sample_B

rm sample/A/test-a.txt
  sample/A/test-a.txt
Labels: sample, sample_A

pr auto assing
  .github/workflows/pr-auto-assign.yml
Labels: none

issue auto assign
  .github/workflows/issue-auto-assign.yml
Labels: none

create pr
  .github/workflows/create-pr-develop-to-main.yml
Labels: none

create issue branch
  .github/issue-branch.yml
  .github/workflows/create-issue-branch.yml
Labels: none

add mode
  .github/issue-branch.yml
Labels: none

card labeler
  .github/card-labeler.yml
  .github/workflows/project-card-moved.yml
Labels: none

close stale pr
  .github/workflows/close-stale-pr.yml
Labels: none

modify runs-on
  .github/workflows/close-stale-pr.yml
Labels: none

add pr agent
  .github/workflows/pr-agent.yml
Labels: none

.github/labeler.yml:

sample:
  - sample/**/*

sample_A:
  - any: ['sample/A/*']

sample_B:
  - any: ['sample/B/*']
